<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
      
    </startup>

  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=kfuncappaed6;AccountKey=JD9AcbXljE1YqIxTKcqdrZrS9zN4+AK92PfaKOxWCNM6sbvboC5rIm3IxHYNS1qqF9bg7ZpiEcgwVD1a2IreVg==;EndpointSuffix=core.windows.net"/>
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=kfuncappaed6;AccountKey=OoVJJuyZ/7hBPsDW5eSqLRy0XXTW43GJ+1dFSNfI7fhbcv8QVJmyMx4spztE4QTWcs13niWf8j7gIMWGYFVurg==;EndpointSuffix=core.windows.net"/>
  </connectionStrings>
  
  
  <appSettings>
    <add key="SiteUrl" value="https://kineticsys.sharepoint.com/sites/IntranetPortal/adm/ETL"/>
    <add key="projUrl" value="https://kineticsys.sharepoint.com/sites/projects"/>
    <add key="AccountName" value="service.spadmin@Kinetics.net"/>
    <add key="AccountPwd" value="SpO3652@18"/>
    <add key="ListName" value="ProjectKPIs"/>
    <add key="LookupListName" value="Lookup List"/>
    <add key="LookupFieldName" value="Title"/>
    <add key="LookupFieldType" value="Text"/>
    <add key="CSVSource" value="@\\kineticsys.sharepoint.com\sites\IntranetPortal\adm\ETL\Documents\ProjectKPI.csv"/>
    <add key="AppLogList" value="AppLog"/>
    <add key="AppLogUNC" value="\\kineticsys.sharepoint.com\sites\IntranetPortal\adm\ETL\Lists\AppLog\Logs"/>
    <add key="AppLogUrl" value="https://kineticsys.sharepoint.com/sites/IntranetPortal/adm/ETL"/>

  </appSettings>
</configuration>
