<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <appSettings>
    <add key="SiteUrl" value="https://kineticsys.sharepoint.com/sites/IntranetPortal/adm/ETL"/>
    <add key="projUrl" value="https://kineticsys.sharepoint.com/sites/projects"/>
    <add key="AccountName" value="spAppAdmin@Kinetics.net"/>
    <add key="AccountPwd" value="wesT?457"/>
    <add key="ListName" value="ITL"/>
    <add key="LookupListName" value="Lookup List"/>
    <add key="LookupFieldName" value="Title"/>
    <add key="LookupFieldType" value="Text"/>
    <add key="AppLogList" value="AppLog"/>
    <add key="AppLogUNC" value="\\kineticsys.sharepoint.com\sites\IntranetPortal\adm\ETL\Lists\AppLog\Logs"/>
    <add key="AppLogUrl" value="https://kineticsys.sharepoint.com/sites/IntranetPortal/adm/ETL"/>
    <add key="DBConnection" value="Server=tcp:dbserverksi.database.windows.net,1433;Initial Catalog=dbKSI;Persist Security Info=False;User ID={spAppAdmin};Password={wesT?457};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
