<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
      <add key="AccountName" value="service.spadmin@Kinetics.net" />
      <add key="AccountPwd" value="SpO3652@18" />
    </appSettings>
</configuration>
